.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
catch_error.gmx/extensions/*/*.gml
catch_error_yy/extensions/*/*.gml
*/datafiles/catch_error.html

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

autogen.gml
autogen.cpp

*.sdf
help.rtf